.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 20px; 
  background-color: #f5f5f5; 

}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding: 20px; 
  background-color: #f5f5f5; 
  
}

.product-image-container {
  flex: 1;
}

.product-image {
  width: 100%;
  
}

.product-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
  position: relative; left: 40px;
}


h1 {
  font-size: 24px;
  font-weight: bold;
}

.rating {
  margin: 10px 0;
}

.price-container {
  margin: 10px 0;
}

.original-price {
  text-decoration: line-through;
  margin-right: 10px;
}

.discounted-price {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-right: 10px;
}

.savings {
  color: green;
}

.in-stock-text {
  color: green;
}


.quantity-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.quantity-container button {
  margin: 0 5px;
  padding: 5px 10px;
}

.add-to-cart {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.booking-now  {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.button-group {
  display: flex;
  gap: 16px; 
}


.payment-icons {
  margin-top: 20px;
}







