
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9fafb;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    background-color: #f9fafb;
  }
  
  .booking-container {
    width: 30%; 
    height: 65%; 
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    overflow-y: auto; 
  }

  .booking-now  {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    position: relative; left: 135px;
    position: relative; top: 20px;
  }